<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuehai.android.search">

    <application
        android:screenOrientation="portrait"
        android:theme="@style/AppThemeBase">
        <activity android:name=".ui.SearchActivity" />

    </application>

</manifest>
