<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuehai.android.main">

    <application
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Main组件"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase">

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.SettingActivity" />
    </application>
</manifest>